@{
    ViewData["Title"] = "Strona główna";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="center-align">
    <h3>Wystąpił błąd</h3>
    <hr />
    <a class="waves-effect amber darken-3 btn" asp-controller="Aktualności" asp-action="Index">
        Wróć na stronę główną.
        <i class="material-icons right">send</i>
    </a>
</div>