@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Dostęp Zabroniony";
}

<header>
    <h3 class="text-danger">@ViewData["Title"]</h3>
    <p class="text-danger">Nie masz dostępu do tej strony. Skontaktuj się z adminstratorem po więcej informacji</p>
</header>
