@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wysładno wiadomość na podany adres.";
}

<h3>@ViewData["Title"]</h3>
<p>
    Sprawdź skrzynkę e-mail i postępuj zgodnie z instrukcjami w wiadomości.
</p>
