@{
    ViewData["Title"] = "Formularz kontaktowy";
}
<div class="center-align">
    <h3>Dziękujemy za kontakt</h3>
    <p>Postaramy się odpowiedzieć najszybciej jak to możliwe.</p>
    <hr />
    <a class="waves-effect amber darken-3 btn" asp-controller="Aktualności" asp-action="Index">
        Wróć na stronę główną.
        <i class="material-icons right">send</i>
    </a>
</div>