<li>
    <a asp-area="" asp-controller="Sklep" asp-action="Index">Wszystko</a>
</li>
<li>
    <a asp-area="" asp-controller="Kategorie" asp-action="Miód">Miód</a>
</li>
<li>
    <a asp-area="" asp-controller="Kategorie" asp-action="Pyłek">Pyłek</a>
</li>
<li>
    <a asp-area="" asp-controller="Kategorie" asp-action="Artykuły">Artykuły</a>
</li>