@page
@model EmailModel
@{
    ViewData["Title"] = "Zmiana adresu e-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="input-field col s12 input-group">
                    <input asp-for="Email" disabled class="form-control" />
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="input-field col s12">
                    <input asp-for="Email" disabled class="form-control" />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="waves-effect amber darken-3 btn">Potwierdź e-mail</button>
                </div>
            }
            <div class="input-field col s12">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="waves-effect amber darken-3 btn">Zmień email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
